@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Audio Device Repository</h1>
    <p>Version: @Model.Version</p>
    <p>REST Api Example: <a href="@Url.Content("~/api/AudioDevices")">Get Audio Device List</a>.</p>
</div>
