@page
@model IndexModel
@{
	ViewData["Title"] = "Audio Device Repository Server";
}

<div class="text-center">
	<div class="d-inline-block text-start">
		<h4 style="font-size: 1.3rem;">Audio Device Repository Server</h4>
		<div>
			Version of the current release: @Model.Version<br/>
			Timestamp: @Model.Timestamp
		</div>
		<h4 style="font-size: 1.2rem; margin-top: 1.7rem;">REST Api Output Examples:</h4>
		<div>
			1. <a href="@Url.Content("~/api/AudioDevices")">Get Audio Device List</a>.<br/>
			2. <a href="@Url.Content("~/api/Info/Version")">Get Server Version</a>.<br />
		</div>
	</div>
</div>